{namespace vf=ViktorFirus\ImageTools\ViewHelpers}

<div class="original">
    <div class="headline"><h1>Original</h1></div>
    <div class="picture">
        <vf:picture image="{fileReference}">
            <vf:source width="600" pixelDensities="1"/>
            <vf:img width="600"/>
        </vf:picture>
    </div>
</div>
