<div class="overview-single-pictures">
    <div class="header">
        <div class="headline"><h1>Single Pictures</h1></div>
        <div class="corner"></div>
        <div class="your-system your-system-row picture-row"><h2>Your system</h2></div>
        <div class="reference reference-row picture-row"><h2>Reference</h2></div>
    </div>

    <f:for each="{pictures}" as="picture">
        <div class="picture">
            <div class="description">
                <f:format.raw>{picture.description}</f:format.raw>
            </div>
            <div class="your-system your-system-row picture-row">
                <img src="{picture.yourSystem}" style="width: 100%; max-width: {picture.imgWidth}px;"/>
            </div>
            <div class="reference reference-row picture-row">
                <img src="{picture.reference}" style="width: 100%; max-width: {picture.imgWidth}px;"/>
            </div>
        </div>
    </f:for>
</div>