<div class="reference reference-row picture-row">
    <div class="imt-ll" data-imt-ll data-imt-ll-animation="{animation}">
        <img src="{f:uri.resource(path:'Demo/mcthilda_crop_device1_blurred.jpg')}"
             data-src="{f:uri.resource(path:'Demo/mcthilda_crop_device1.jpg')}">
    </div>
</div>
