<div class="reference reference-row picture-row">
    <div class="imt-ll" data-imt-ll data-imt-ll-animation="{animation}">
        <picture>
            <source media="(min-width: 1400px)"
                    srcset="{f:uri.resource(path:'Demo/888888_1400x981.svg')}"
                    data-srcset="{f:uri.resource(path:'Demo/mcthilda_crop_device1.jpg')}">
            <source media="(min-width: 1200px)"
                    srcset="{f:uri.resource(path:'Demo/888888_904x1124.svg')}"
                    data-srcset="{f:uri.resource(path:'Demo/mcthilda_crop_device2.jpg')}">
            <source srcset="{f:uri.resource(path:'Demo/888888_644x853.svg')}"
                    data-srcset="{f:uri.resource(path:'Demo/mcthilda_crop_device3.jpg')}">
            <img src="{f:uri.resource(path:'Demo/888888_700x871.svg')}"
                 data-src="{f:uri.resource(path:'Demo/mcthilda_crop_fallback.jpg')}">
        </picture>
    </div>
</div>