<div class="your-system your-system-row picture-row">
    <vf:lazy placeholder="{placeholder}" animation="{animation}">
        <vf:img image="{fileReference}" width="1400" cropName="device1"/>
    </vf:lazy>
</div>
