<div class="your-system your-system-row picture-row">
    <vf:lazy placeholder="{placeholder}" animation="{animation}">
        <vf:picture image="{fileReference}" cropName="device2" absolute="true">
            <vf:source width="1400" pixelDensities="1" cropName="device1" media="(min-width: 1400px)"/>
            <vf:source width="1200" pixelDensities="1" media="(min-width: 1200px)"/>
            <vf:source width="1000" pixelDensities="1" cropName="device3"/>
            <vf:img width="700"/>
        </vf:picture>
    </vf:lazy>
</div>