h1,
h2 {
  text-align: center;
  margin: 0;
}
div.headline {
  margin-bottom: 10px;
}
div.original {
  margin-bottom: 50px;
}
div.original div.picture {
  text-align: center;
}
div.overview-single-pictures,
div.overview-img-pictures,
div.overview-lazy-load {
  margin-bottom: 50px;
}
div.overview-single-pictures div.picture-row,
div.overview-img-pictures div.picture-row,
div.overview-lazy-load div.picture-row {
  display: inline-block;
  width: calc(50% - 40px);
}
div.overview-single-pictures div.header,
div.overview-img-pictures div.header,
div.overview-lazy-load div.header {
  margin-bottom: 10px;
}
div.overview-single-pictures div.header div.corner,
div.overview-img-pictures div.header div.corner,
div.overview-lazy-load div.header div.corner {
  display: inline-block;
  width: 70px;
  height: 10px;
}
div.overview-single-pictures div.header div.picture-row h2,
div.overview-img-pictures div.header div.picture-row h2,
div.overview-lazy-load div.header div.picture-row h2 {
  text-align: center;
}
div.overview-single-pictures div.picture,
div.overview-img-pictures div.picture,
div.overview-lazy-load div.picture {
  margin-bottom: 20px;
}
div.overview-single-pictures div.picture div.description,
div.overview-img-pictures div.picture div.description,
div.overview-lazy-load div.picture div.description {
  display: inline-block;
  width: 70px;
}
div.overview-single-pictures div.picture div.picture-row,
div.overview-img-pictures div.picture div.picture-row,
div.overview-lazy-load div.picture div.picture-row {
  text-align: center;
}
div.overview-picture-tag {
  margin-bottom: 50px;
}
div.overview-picture-tag div.picture-row {
  display: inline-block;
  width: calc(50% - 5px);
}
div.overview-picture-tag div.picture-row img {
  width: 100%;
}
div.overview-picture-tag div.picture-row h2 {
  margin-bottom: 10px;
}
div.overview-picture-tag div.explaining {
  margin-bottom: 10px;
}
div.overview-picture-tag div.explaining > div {
  display: inline-block;
  margin-right: 15px;
}
@media (min-width: 1px) AND (max-width: 999px) {
  div.crop-focus-overview-picture-tag div.explaining div.max-999 {
    font-weight: bold;
  }
}
@media (min-width: 1000px) AND (max-width: 1299px) {
  div.crop-focus-overview-picture-tag div.explaining div.min-1000 {
    font-weight: bold;
  }
}
@media (min-width: 1300px) AND (max-width: 1599px) {
  div.crop-focus-overview-picture-tag div.explaining div.min-1300 {
    font-weight: bold;
  }
}
@media (min-width: 1600px) AND (max-width: 1899px) {
  div.crop-focus-overview-picture-tag div.explaining div.min-1600 {
    font-weight: bold;
  }
}
@media (min-width: 1900px) {
  div.crop-focus-overview-picture-tag div.explaining div.min-1900 {
    font-weight: bold;
  }
}
@media (min-width: 1px) AND (max-width: 1199px) {
  div.crop-overview-picture-tag div.explaining div.max-1199 {
    font-weight: bold;
  }
}
@media (min-width: 1200px) AND (max-width: 1399px) {
  div.crop-overview-picture-tag div.explaining div.min-1200 {
    font-weight: bold;
  }
}
@media (min-width: 1400px) {
  div.crop-overview-picture-tag div.explaining div.min-1400 {
    font-weight: bold;
  }
}
