h1, h2 {
  text-align: center;
  margin: 0;
}

div.headline {
  margin-bottom: 10px;
}

div.original {
  margin-bottom: 50px;

  div.picture {
    text-align: center;
  }
}

div.overview-single-pictures, div.overview-img-pictures, div.overview-lazy-load {
  margin-bottom: 50px;

  div.picture-row {
    display: inline-block;
    width: ~"calc(50% - 40px)";
  }

  div.header {
    margin-bottom: 10px;

    div.corner {
      display: inline-block;
      width: 70px;
      height: 10px;
    }

    div.picture-row {
      h2 {
        text-align: center;
      }
    }
  }

  div.picture {
    margin-bottom: 20px;

    div.description {
      display: inline-block;
      width: 70px;
    }

    div.picture-row {
      text-align: center;
    }
  }
}

div.overview-picture-tag {
  margin-bottom: 50px;

  div.picture-row {
    display: inline-block;
    width: ~"calc(50% - 5px)";

    img {
      width: 100%;
    }

    h2 {
      margin-bottom: 10px;
    }
  }

  div.explaining {
    margin-bottom: 10px;

    > div {
      display: inline-block;
      margin-right: 15px;
    }
  }
}

div.crop-focus-overview-picture-tag {
  @media (min-width: 1px) AND (max-width: 999px) {
    div.explaining {
      div.max-999 {
        font-weight: bold;
      }
    }
  }

  @media (min-width: 1000px) AND (max-width: 1299px) {
    div.explaining {
      div.min-1000 {
        font-weight: bold;
      }
    }
  }

  @media (min-width: 1300px) AND (max-width: 1599px) {
    div.explaining {
      div.min-1300 {
        font-weight: bold;
      }
    }
  }

  @media (min-width: 1600px) AND (max-width: 1899px) {
    div.explaining {
      div.min-1600 {
        font-weight: bold;
      }
    }
  }

  @media (min-width: 1900px) {
    div.explaining {
      div.min-1900 {
        font-weight: bold;
      }
    }
  }
}

div.crop-overview-picture-tag {
  @media (min-width: 1px) AND (max-width: 1199px) {
    div.explaining {
      div.max-1199 {
        font-weight: bold;
      }
    }
  }

  @media (min-width: 1200px) AND (max-width: 1399px) {
    div.explaining {
      div.min-1200 {
        font-weight: bold;
      }
    }
  }

  @media (min-width: 1400px) {
    div.explaining {
      div.min-1400 {
        font-weight: bold;
      }
    }
  }
}
