.imt-ll {
  position: relative;
}
.imt-ll img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imt-ll img.original {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.imt-ll .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imt-ll .loader > .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  float: left;
  margin: 0 5px;
  background-color: black;
  transform: scale(0.5);
  animation: scaleBlend 1000ms linear infinite 0ms;
}
.imt-ll .loader > .dot:nth-child(2) {
  animation: scaleBlend 1000ms linear infinite 333.33333333ms;
}
.imt-ll .loader > .dot:nth-child(3) {
  animation: scaleBlend 1000ms linear infinite 666.66666667ms;
}
@keyframes scaleBlend {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.imt-ll.show img.original {
  display: block;
}
.imt-ll[data-imt-ll-animation] img.placeholder.step-1 {
  opacity: 1;
}
.imt-ll[data-imt-ll-animation] img.placeholder.step-3 {
  opacity: 0;
}
.imt-ll[data-imt-ll-animation] img.original.step-1 {
  opacity: 0;
}
.imt-ll[data-imt-ll-animation] img.original.step-3 {
  opacity: 1;
}
.imt-ll[data-imt-ll-animation="overlay"] img.placeholder.step-2 {
  transition: opacity 400ms ease-in;
}
.imt-ll[data-imt-ll-animation="overlay"] img.original.step-2 {
  transition: opacity 400ms ease-out;
}
.imt-ll[data-imt-ll-animation="top-slide-overlay"] img.placeholder.step-2 {
  transition: opacity 400ms linear;
}
.imt-ll[data-imt-ll-animation="top-slide-overlay"] img.original.step-1 {
  top: 40px;
}
.imt-ll[data-imt-ll-animation="top-slide-overlay"] img.original.step-2 {
  transition: top 400ms linear, opacity 400ms linear;
}
.imt-ll[data-imt-ll-animation="top-slide-overlay"] img.original.step-3 {
  top: 0;
}
div.imt-slider-button {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: rgba(200, 200, 200, 0.5);
  z-index: 20;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  transition: background-color 100ms linear, opacity 100ms linear;
  opacity: 0;
}
div.imt-slider-button svg {
  width: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div.imt-slider-button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
div.imt-slider-button.permanent {
  opacity: 1;
}
div.imt-slider-left-button {
  left: 0;
}
div.imt-slider-right-button {
  right: 0;
}
div.imt-slider-slide-indicator {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  bottom: 25px;
  opacity: 0;
  transition: opacity 100ms linear;
}
div.imt-slider-slide-indicator.permanent {
  opacity: 1;
}
div.imt-slider-slide-indicator::after {
  display: block;
  content: "";
  clear: both;
}
div.imt-slider-slide-indicator div.slide-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(200, 200, 200, 0.5);
  transition: background-color 100ms linear;
  float: left;
  margin-right: 5px;
  cursor: pointer;
}
div.imt-slider-slide-indicator div.slide-circle:nth-last-child(2) {
  margin-right: 0;
}
div.imt-slider-slide-indicator div.slide-circle:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
div.imt-slider-slide-indicator div.slide-circle.inactive {
  cursor: default;
  background-color: rgba(200, 200, 200, 0.5);
}
div.imt-slider-slide-indicator div.slide-position {
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 9px;
  height: 9px;
  transition: left 400ms ease-out;
}
div.imt-slider-timeout-indicator {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  opacity: 0;
}
div.imt-slider-timeout-indicator.imt-progress {
  background-size: 0 100%;
  background-image: linear-gradient(rgba(200, 200, 200, 0.5) 100%, rgba(200, 200, 200, 0.5) 100%);
  background-repeat: no-repeat;
}
div.imt-slider-timeout-indicator.permanent {
  opacity: 1;
}
@keyframes indefinite-bar {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}
div.imt-slider-timeout-indicator.imt-indefinite {
  animation: indefinite-bar 1s linear infinite;
  background-size: 20px 20px;
  background-image: linear-gradient(135deg, rgba(200, 200, 200, 0.5) 25%, transparent 25%, transparent 50%, rgba(200, 200, 200, 0.5) 50%, rgba(200, 200, 200, 0.5) 75%, transparent 75%, transparent);
}
div.imt-slider-image-story div.imt-ll {
  width: 100%;
  height: 100%;
}
div.imt-slider-story {
  position: absolute;
  display: none;
}
div.imt-slider {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}
div.imt-slider:hover div.imt-slider-button {
  opacity: 1;
}
div.imt-slider:hover div.imt-slider-slide-indicator {
  opacity: 1;
}
div.imt-slider:hover div.imt-slider-timeout-indicator {
  opacity: 1;
}
