{namespace vf=ViktorFirus\ImageTools\ViewHelpers}

<f:be.pageRenderer includeCssFiles="{0: '{f:uri.resource(path:\'Style/demo-style.min.css\')}'}"/>

<p>Photo by <a href="https://unsplash.com/@mcthilda">Mathilda Khoo</a> on Unsplash</p>

<f:render partial="Demo/Original" arguments="{fileReference: demoFileReference}"/>

<div class="overview-picture-tag crop-overview-picture-tag">
    <div class="headline"><h1>Picture Tag</h1></div>
    <div class="explaining">
        <div class="min-1400">Pic 1: >= 1400px</div>
        <div class="min-1200">Pic 2: 1200px - 1399px</div>
        <div class="max-1199">Pic 5: 1px - 1199px</div>
    </div>
    <div class="picture">
        <div class="your-system your-system-row picture-row">
            <h2>Your system</h2>
            <vf:picture image="{demoFileReference}" cropName="device2" absolute="true">
                <vf:source width="1400" pixelDensities="1" cropName="device1" media="(min-width: 1400px)"/>
                <vf:source width="1200" pixelDensities="1" media="(min-width: 1200px)"/>
                <vf:source width="1000" pixelDensities="1" cropName="device3"/>
                <vf:img width="700"/>
            </vf:picture>
        </div>
        <div class="reference reference-row picture-row">
            <h2>Reference</h2>
            <picture>
                <source srcset="{singlePictures.0.reference}" media="(min-width: 1400px)">
                <source srcset="{singlePictures.1.reference}" media="(min-width: 1200px)">
                <source srcset="{singlePictures.2.reference}">
                <img src="{singlePictures.3.reference}">
            </picture>
        </div>
    </div>
</div>

<f:render partial="Demo/SinglePictures" arguments="{pictures: singlePictures}"/>

