{namespace vf=ViktorFirus\ImageTools\ViewHelpers}

<f:be.pageRenderer includeCssFiles="{0: '{f:uri.resource(path:\'Style/demo-style.min.css\')}'}"/>

<p>Photo by <a href="https://unsplash.com/@brisch27">Brigitta Schneiter</a> on Unsplash</p>

<f:render partial="Demo/Original" arguments="{fileReference: demoFileReference}"/>

<div class="overview-picture-tag crop-focus-overview-picture-tag">
    <div class="headline"><h1>Picture Tag</h1></div>
    <div class="explaining">
        <div class="min-1900">Pic 1: >= 1900px</div>
        <div class="min-1600">Pic 2: 1600px - 1899px</div>
        <div class="min-1300">Pic 3: 1300px - 1599px</div>
        <div class="min-1000">Pic 4: 1000px - 1299px</div>
        <div class="max-999">Pic 5: 1px - 999px</div>
    </div>
    <div class="picture">
        <div class="your-system your-system-row picture-row">
            <h2>Your system</h2>
            <vf:picture image="{demoFileReference}" cropName="default" absolute="true">
                <vf:source width="1400" pixelDensities="1" aspectRatio="34x10" media="(min-width: 1900px)"/>
                <vf:source width="1200" pixelDensities="1" aspectRatio="25x10" media="(min-width: 1600px)"/>
                <vf:source width="1000" pixelDensities="1" aspectRatio="16x10" media="(min-width: 1300px)"/>
                <vf:source width="800" pixelDensities="1" aspectRatio="16x24" media="(min-width: 1000px)"/>
                <vf:source width="600" pixelDensities="1" aspectRatio="16x38"/>
                <vf:img width="500" aspectRatio="16x10"/>
            </vf:picture>
        </div>
        <div class="reference reference-row picture-row">
            <h2>Reference</h2>
            <picture>
                <source srcset="{f:uri.resource(path:'Demo/brisch27_focus_34x10.jpg')}" media="(min-width: 1900px)">
                <source srcset="{f:uri.resource(path:'Demo/brisch27_focus_25x10.jpg')}" media="(min-width: 1600px)">
                <source srcset="{f:uri.resource(path:'Demo/brisch27_focus_16x10.jpg')}" media="(min-width: 1300px)">
                <source srcset="{f:uri.resource(path:'Demo/brisch27_focus_16x24.jpg')}" media="(min-width: 1000px)">
                <source srcset="{f:uri.resource(path:'Demo/brisch27_focus_16x38.jpg')}">
                <img src="{f:uri.resource(path:'Demo/brisch27_focus_fallback.jpg')}">
            </picture>
        </div>
    </div>
</div>

<f:render partial="Demo/SinglePictures" arguments="{pictures: singlePictures}"/>
