{namespace vf=ViktorFirus\ImageTools\ViewHelpers}

<f:be.pageRenderer includeCssFiles="{0: '{f:uri.resource(path:\'Style/demo-style.min.css\')}'}"/>

<p>Photo by <a href="https://unsplash.com/@mcthilda">Mathilda Khoo</a> on Unsplash</p>

<f:render partial="Demo/Original" arguments="{fileReference: demoFileReference}"/>

<div class="overview-single-pictures">
    <div class="header">
        <div class="headline"><h1>Single Pictures</h1></div>
        <div class="corner"></div>
        <div class="your-system your-system-row picture-row"><h2>Your system</h2></div>
        <div class="reference reference-row picture-row"><h2>Reference</h2></div>
    </div>

    <f:for each="{pictures}" as="picture">
        <div class="picture">
            <div class="description">{picture.description}</div>
            <div class="your-system your-system-row picture-row">
                <vf:img image="{demoFileReference}" width="500" cropName="{picture.cropName}" style="width: {picture.styleWidth}px;"/>
            </div>
            <div class="reference reference-row picture-row">
                <img src="{picture.reference}" style="width: {picture.styleWidth}px;">
            </div>
        </div>
    </f:for>
</div>
