{namespace vf=ViktorFirus\ImageTools\ViewHelpers}

<f:be.pageRenderer
        includeCssFiles="{0: '{f:uri.resource(path:\'Style/demo-style.min.css\')}', 1: '{f:uri.resource(path:\'Style/style.min.css\')}'}"
        includeJsFiles="{0: '{f:uri.resource(path:\'JavaScript/script.js\')}'}"/>

<p>Photo by <a href="https://unsplash.com/@mcthilda">Mathilda Khoo</a> on Unsplash</p>

<f:render partial="Demo/Original" arguments="{fileReference: demoFileReference}"/>

<div class="overview-lazy-load">
    <div class="header">
        <div class="corner"></div>
        <div class="your-system your-system-row picture-row"><h2>Your system</h2></div>
        <div class="reference reference-row picture-row"><h2>Reference</h2></div>
    </div>

    <div class="picture">
        <div class="description">Picture Tag Slide Overlay Placeholder blurred</div>
        <f:render partial="Demo/LazyLoad/SystemPicture" arguments="{fileReference: demoFileReference, animation: 'top-slide-overlay', placeholder: 'blurred'}"/>
        <f:render partial="Demo/LazyLoad/ReferencePictureBlurred" arguments="{animation: 'top-slide-overlay'}"/>
    </div>

    <div class="picture">
        <div class="description">Picture Tag Overlay Placeholder blurred</div>
        <f:render partial="Demo/LazyLoad/SystemPicture" arguments="{fileReference: demoFileReference, animation: 'overlay', placeholder: 'blurred'}"/>
        <f:render partial="Demo/LazyLoad/ReferencePictureBlurred" arguments="{animation: 'overlay'}"/>
    </div>

    <div class="picture">
        <div class="description">Picture Tag Slide Overlay Placeholder #888</div>
        <f:render partial="Demo/LazyLoad/SystemPicture" arguments="{fileReference: demoFileReference, animation: 'top-slide-overlay', placeholder: '#888'}"/>
        <f:render partial="Demo/LazyLoad/ReferencePictureColor" arguments="{animation: 'top-slide-overlay'}"/>
    </div>

    <div class="picture">
        <div class="description">Picture Tag Overlay Placeholder #888</div>
        <f:render partial="Demo/LazyLoad/SystemPicture" arguments="{fileReference: demoFileReference, animation: 'overlay', placeholder: '#888'}"/>
        <f:render partial="Demo/LazyLoad/ReferencePictureColor" arguments="{animation: 'overlay'}"/>
    </div>

    <div class="picture">
        <div class="description">Img Tag Slide Overlay Placeholder blurred</div>
        <f:render partial="Demo/LazyLoad/SystemImg" arguments="{fileReference: demoFileReference, animation: 'top-slide-overlay', placeholder: 'blurred'}"/>
        <f:render partial="Demo/LazyLoad/ReferenceImgBlurred" arguments="{animation: 'top-slide-overlay'}"/>
    </div>

    <div class="picture">
        <div class="description">Img Tag Overlay Placeholder blurred</div>
        <f:render partial="Demo/LazyLoad/SystemImg" arguments="{fileReference: demoFileReference, animation: 'overlay', placeholder: 'blurred'}"/>
        <f:render partial="Demo/LazyLoad/ReferenceImgBlurred" arguments="{animation: 'overlay'}"/>
    </div>

    <div class="picture">
        <div class="description">Img Tag Slide Overlay Placeholder #888</div>
        <f:render partial="Demo/LazyLoad/SystemImg" arguments="{fileReference: demoFileReference, animation: 'top-slide-overlay', placeholder: '#888'}"/>
        <f:render partial="Demo/LazyLoad/ReferenceImgColor" arguments="{animation: 'top-slide-overlay'}"/>
    </div>

    <div class="picture">
        <div class="description">Img Tag Overlay Placeholder #888</div>
        <f:render partial="Demo/LazyLoad/SystemImg" arguments="{fileReference: demoFileReference, animation: 'overlay', placeholder: '#888'}"/>
        <f:render partial="Demo/LazyLoad/ReferenceImgColor" arguments="{animation: 'overlay'}"/>
    </div>
</div>