{namespace vf=ViktorFirus\ImageTools\ViewHelpers}

<f:be.pageRenderer includeCssFiles="{0: '{f:uri.resource(path:\'Style/demo-style.min.css\')}'}"/>

<h1>Relative URLs</h1>
<pre>{relativeUrls}</pre>

<h1>Absolute URLs</h1>
<pre>{absoluteUrls}</pre>
