<h1>Slider configuration</h1>

<h2>Pixel densities</h2>

<table class="table table-bordered" style="width: auto;">
    <tr>
        <f:for each="{config.pixelDensities}" as="pixelDensity">
            <td>{pixelDensity}</td>
        </f:for>
    </tr>
</table>

<f:for each="{config.sliders}" key="key" as="slider">
    <h2>Slider '{slider.name}' ({key})</h2>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="row">Breakpoint</th>
            <f:for each="{slider.config}" key="breakpoint" as="item">
                <th>{breakpoint}</th>
            </f:for>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">View</th>
            <f:for each="{slider.config}" as="item">
                <td>{item.from} - {item.to}</td>
            </f:for>
        </tr>
        <tr>
            <th scope="row">Base width</th>
            <f:for each="{slider.config}" as="item">
                <td>{item.baseWidth}px</td>
            </f:for>
        </tr>
        </tbody>
    </table>
</f:for>
